<?xml version="1.0"?>
<launch>
    <arg name="debug" default="true" />
    <arg name="face_feature_topic" default="/migrave_perception/openface_ros/faces" />
    <arg name="of_debug_img_topic" default="/migrave_perception/openface_ros/debug_image" />

    <node pkg="migrave_person_state_estimation" type="person_state_estimator" name="person_state_estimator" output="screen" 
     ns="migrave_perception" >
        <param name="config_path" type="str" value="$(find migrave_person_state_estimation)/ros/config/person_state_estimation_config.yaml" />
        <param name="face_feature_topic" type="str" value="$(arg face_feature_topic)" />
        <param name="audio_feature_topic" type="str" value="/audio_features" />
        <param name="skeleton_topic" type="str" value="/skeletons" />
        <param name="game_performance_topic" type="str" value="/game_performance" />
        <param name="debug" type="bool" value="$(arg debug)" />
        <param name="of_debug_img_topic" type="str" value="$(arg of_debug_img_topic)" />
    </node>
</launch>
